*{
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

html{
  scroll-behavior: smooth;
}

/*===scrollbar設定===*/

::-webkit-scrollbar {
  width: 12px;
  background-color: #f8f7f8;
}

/*::-webkit-scrollbar-track {}*/

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgb(75, 72, 72);
  border: solid 3px #f8f7f8;
}
